.start {
  margin-top: 40px;
}
.start h3 {
  text-align: center;
  font-size: 25px;
  color: #6289ad;
}
.start h4 {
  font-size: 18px;
  color: #6289ad;
}
.start pre {
  margin-top: 15px;
  background: #f8f8f8;
  padding: 15px 10px;
  color: #000;
  font-size: 16px;
  font-weight: 400;
}
.start .install {
  margin-top: 20px;
}
.start .install p {
  margin-top: 20px;
  margin-bottom: 20px;
}
.start .register {
  margin-top: 20px;
}html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    outline:0;
    vertical-align:baseline;
    background:transparent;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html,body {
    height: 100%;
    width: 100%;
    /* # https://github.com/AlloyTeam/Mars/blob/master/solutions/font-family.md */
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
}

body {
    margin:0;
    padding:0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 14px;
    line-height: 1;
    background: none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
    overflow-x:hidden;
    -webkit-overflow-scrolling:touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

ol, ul, nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

a{
    text-decoration:none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}

:focus {
    outline: none;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted #000;
    cursor:help;
}

hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input[type="text"], input[type="password"], textarea, input, select {
    outline: none;
    -webkit-appearance: none;
}

input, select {
    vertical-align:middle;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    /* # https://github.com/AlloyTeam/Mars/blob/master/solutions/font-family.md */
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;
    /*font: 0.12rem/1 "Microsoft YaHei", Tahoma, Arial, Helvetica, \\5b8b\4f53, "Helvetica Neue", "PingFang SC", "Heiti SC", "Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1", sans-serif;*/
    color: inherit;
}

/* el-scrollbar */
/* .size-example .area-select.large .el-select:last-child{
    margin-left: 30px
} */.app-main {
  margin-top: 20px;
}
.app-main h3 {
  text-align: center;
  font-size: 25px;
  color: #6289ad;
}
.app-main h4 {
  margin-top: 25px;
  font-size: 18px;
  color: #6289ad;
}
.app-main h5 {
  margin-top: 20px;
  font-size: 16px;
  color: #6289ad;
}
.app-main .desc {
  margin-top: 15px;
}
.app-main .desc code {
  background: #f8f8f8;
  color: #333;
  padding: 5px;
}
.app-main .code-area {
  position: relative;
  width: 100%;
  height: auto;
  border: 1px solid #dce7f4;
  border-radius: 4px;
  margin-top: 20px;
  padding: 0;
}
.app-main .code-area > div {
  margin-top: 40px;
  display: inline-block;
  vertical-align: middle;
}
.app-main .code-area .area-left {
  width: 75%;
  margin-left: 10px;
}
.app-main .code-area .area-right {
  width: 21%;
  margin-left: 10px;
}
.app-main .code-area .area-right pre {
  background: #f8f8f8;
  padding: 15px 10px;
  color: #6289ad;
  line-height: 20px;
}
.app-main .code-area .original-code {
  width: 90%;
  margin: 25px 45px -10px;
}
.app-main .code-area .original-code pre {
  background: #f8f8f8;
  padding: 15px 10px;
}
.app-main .code-area .show-code {
  width: 100%;
  cursor: pointer;
  text-align: center;
  border-top: 1px solid #dce7f4;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #6289ad;
  font-weight: 500;
  font-size: 18px;
}
.app-main .code-area .show-code:hover {
  background-color: #dce7f4;
  color: #fff;
}.area-zoom-in-top-enter-active,
.area-zoom-in-top-leave-active {
  opacity: 1;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transform-origin: center top;
      -ms-transform-origin: center top;
          transform-origin: center top;
}
.area-zoom-in-top-enter,
.area-zoom-in-top-leave-active {
  opacity: 0;
  -webkit-transform: scaleY(0);
      -ms-transform: scaleY(0);
          transform: scaleY(0);
}
.area-select {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  height: 32px;
  cursor: pointer;
  background: #FFFFFF;
  border-radius: 4px;
  border: 1px solid #e1e2e6;
}
.area-select * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.area-select:hover {
  border-color: #a1a4ad;
}
.area-select.small {
  width: 126px;
}
.area-select.medium {
  width: 160px;
}
.area-select.large {
  width: 194px;
}
.area-select.is-disabled {
  background: #eceff5;
  cursor: not-allowed;
}
.area-select.is-disabled:hover {
  border-color: #e1e2e6;
}
.area-select.is-disabled .area-selected-trigger {
  cursor: not-allowed;
}
.area-select .area-selected-trigger {
  position: relative;
  display: block;
  font-size: 14px;
  cursor: pointer;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  height: 100%;
  padding: 8px 20px 7px 12px;
}
.area-select .area-select-icon {
  position: absolute;
  top: 50%;
  margin-top: -2px;
  right: 6px;
  content: '';
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #a1a4ad;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.area-select .area-select-icon.active {
  margin-top: -8px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
.area-selectable-list-wrap {
  position: absolute;
  width: 100%;
  max-height: 275px;
  z-index: 15000;
  border: 1px solid #a1a4ad;
  border-radius: 2px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 5px 0;
  overflow-x: hidden;
  overflow-x: auto;
}
.area-selectable-list {
  position: relative;
  margin: 0;
  padding: 6px 0;
  width: 100%;
  font-size: 14px;
  color: #565656;
  list-style: none;
}
.area-selectable-list .area-select-option {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  cursor: pointer;
  padding: 0px 15px 0px 10px;
  height: 32px;
  line-height: 32px;
}
.area-selectable-list .area-select-option.hover {
  background-color: #e4e8f1;
}
.area-selectable-list .area-select-option.selected {
  background-color: #e4e8f1;
  color: #FF6200;
  font-weight: 700;
}
.cascader-menu-list-wrap {
  position: absolute;
  white-space: nowrap;
  z-index: 15000;
  border: 1px solid #a1a4ad;
  border-radius: 2px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 5px 0;
  overflow: hidden;
  font-size: 0;
}
.cascader-menu-list {
  position: relative;
  margin: 0;
  font-size: 14px;
  color: #565656;
  padding: 6px 0;
  list-style: none;
  display: inline-block;
  height: 204px;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 160px;
  vertical-align: top;
  background-color: #fff;
  border-right: 1px solid #e4e7ed;
}
.cascader-menu-list:last-child {
  border-right: none;
}
.cascader-menu-list .cascader-menu-option {
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  cursor: pointer;
  padding: 0px 15px 0px 10px;
  height: 32px;
  line-height: 32px;
}
.cascader-menu-list .cascader-menu-option.hover {
  background-color: #e4e8f1;
}
.cascader-menu-list .cascader-menu-option:hover {
  background-color: #e4e8f1;
}
.cascader-menu-list .cascader-menu-option.selected {
  background-color: #e4e8f1;
  color: #FF6200;
  font-weight: 700;
}
.cascader-menu-list .cascader-menu-option.cascader-menu-extensible:after {
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 5px;
  content: "";
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-color: #a1a4ad;
}
.cascader-menu-list::-webkit-scrollbar,
.area-selectable-list-wrap::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}
.cascader-menu-list::-webkit-scrollbar-button:vertical:increment,
.area-selectable-list-wrap::-webkit-scrollbar-button:vertical:increment,
.cascader-menu-list::-webkit-scrollbar-button:vertical:decremen,
.area-selectable-list-wrap::-webkit-scrollbar-button:vertical:decremen,
.cascader-menu-list::-webkit-scrollbar-button:vertical:start:increment,
.area-selectable-list-wrap::-webkit-scrollbar-button:vertical:start:increment,
.cascader-menu-list::-webkit-scrollbar-button:vertical:end:decrement,
.area-selectable-list-wrap::-webkit-scrollbar-button:vertical:end:decrement {
  display: none;
}
.cascader-menu-list::-webkit-scrollbar-thumb:vertical,
.area-selectable-list-wrap::-webkit-scrollbar-thumb:vertical {
  background-color: #b8b8b8;
  border-radius: 4px;
}
.cascader-menu-list::-webkit-scrollbar-thumb:vertical:hover,
.area-selectable-list-wrap::-webkit-scrollbar-thumb:vertical:hover {
  background-color: #777;
}